**/target/
!.mvn/wrapper/maven-wrapper.jar

### VisualStudioCode ###
.vscode
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Package ###
package.log
**/package.log